@jllt:registry=https://artifacts.jll.com/artifactory/api/npm/jllt-npm-release/
//artifacts.jll.com/artifactory/api/npm/jllt-npm-release/:_authToken=cmVmdGtuOjAxOjE3NzkyODU0OTc6NjBnVlh5UURrdjluUHh6ZUxnU1BsUVhVVGpm
always-auth=true
legacy-peer-deps=true 